<%= amp_mozaic do %>
  <nav>
    <span><%= title %></span>
    <%= link_to 'Regular Web', root_url %>
    <%= link_to 'AMP Params', root_url(amp: true) %>
    <%= link_to 'Always AMP', always_amp_url(amp: false) %>
    <%= link_to 'Regular Web', home_url %>
    <%= link_to 'AMP in Path', amp_home_url %>
  </nav>
  <article>
    <%= yield %>
  </article>
<% end %>
